body{
     background-attachment: fixed;
     background-position: center;
    width: 100%;
    /*background-image: linear-gradient(rgb(71, 130, 218), rgb(10, 80, 100));*/
    background-image: image("hamish-weir-593423-unsplash.jpg");
     height: 100%;
}

.container{
   
    margin-top: 100px;
    margin-bottom: 100px;
    width: 300px;
    height: 400px;
     background: rgba(41, 41, 41, 0.2);
     border-radius: 10px 10px 10px 10px;
     box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
     font-family: 'Quicksand',
     sans-serif;
     color: #fff;
}

.form-control {
    background-color: rgba(26, 25, 25, 0.151);
    border: none;
    color: #fff;
    border-radius: 15px 15px 15px 15px;
    font-family: 'Quicksand',
    sans-serif;
}

.form-group {
    color: #fff;
    font-family: 'Quicksand',
    sans-serif;
}

.btn{
    margin-top: .5em;
    background-color: rgba(184, 145, 235, 0.37);
    border: none;
    border-radius: 19px 19px 19px 19px;
    font-family: 'Quicksand',
    sans-serif;
    
}
.btn:hover{
    background-color: rgba(94, 94, 163, 0.336);
    
}

checador2{
    border: none;
    float: right;
    color: #fff;
}


.logo{
    text-align: center;
    color: #fff;
    font-family: 'Anton', sans-serif;
}

/*animaciones*/


.box {
    -webkit-transform: translate(0, 0);
    -webkit-transition: -webkit-transform 500ms;
    transform: translate(0, 0);
    transition: transform 500ms;
}
.box.move {
    -webkit-transform: translate(100px, 100px);
    transform: translate(100px, 100px);
}


